.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.features-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  margin-bottom: 8px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
}

.features-icon {
  width: 64px;
  height: 64px;
  color: #2e2f42;
}

.features-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: left;
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

@media screen and (max-width: 767px) {
  .features-icon-box {
    display: none;
  }

  .features-item {
    width: 100%;
  }

  .features-list {
    flex-wrap: wrap;
    gap: 72px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .features-item {
    width: calc((100% - 24px) / 2);
  }

  .features-icon-box {
    display: flex;
  }
}

.features-icon-box {
  display: none;
}

.features-subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: left;
}

.features-text {
  font-weight: 500;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .features-list {
    gap: 72px 24px;
  }

  .features-item {
    width: calc((100% - 24px) / 2);
  }

  .features-icon-box {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .features-list {
    gap: 24px;
  }

  .features-item {
    width: calc((100% - 72px) / 4);
  }

  .features-icon-box {
    display: flex;
  }

  .features-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
  }

  .features-text {
    font-weight: 400;
    text-align: left;
  }
}